.bicicleta-bg {
  background-color: #111111;
}

.bicicleta {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 20vw;
  padding-right: 20vw;
  background: url("../../assets/dec/bottom-left.svg") no-repeat bottom 40px left
    20px;
}

.bicicleta-titulo {
  grid-column: 1 / -1;
}
.bicicleta-titulo p{
  color: #B2B2B2;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 2.2rem;
}
.bicicleta-titulo h1{
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 3.2rem;
}
.bicicleta-conteudo p{
  color: #B2B2B2;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}
.bicicleta-comprar span{
  color: #9C9C9C;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: .9rem;
}
.bicicleta-titulo span{
  color: #FFBB00;
}

.bicicleta-imagens {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 20px;
}

.bicicleta-imagens img {
  cursor: pointer;
  flex: 1;
  min-width: 200px;
}

.bicicleta-imagens img:first-child {
  cursor: initial;
  min-width: 100%;
}

.bicicleta-conteudo > p {
  margin-bottom: 32px;
}
.bicicleta-conteudo h2 {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: .9rem;
}

.bicicleta-comprar {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  justify-items: start;
  gap: 8px 12px;
  margin-bottom: 40px;
}

.bicicleta-comprar a {
  grid-row: span 2;
}

.bicicleta-comprar span {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: black;
}

.bicicleta-conteudo h2 {
  text-transform: uppercase;
  letter-spacing: 0.015em;
  margin-bottom: 12px;
}
.bicicletas-lista{
  padding-top: 100px;
  padding-bottom: 100px;
}
.bicicletas-lista ul{
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
}
.bicicletas-lista img{
  max-width: 40vw;
}
.bicicletas-lista h2{
  color: #111111;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 3.2rem;
  padding-bottom: 100px;
  margin-left: 10vw;
}
.bicicletas-lista h3{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  padding-top: 2vh;
  padding-bottom: 0.5vh;
  color: #111111;
}
.preco{
  color: #595959;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.dot{
  color: #FFBB00;
}
.bicicleta-informacoes,
.bicicleta-ficha {
  padding: 32px;
  border-radius: 4px;
  background-color: black;
}

.bicicleta-informacoes {
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}

.bicicleta-informacoes img {
  width: 24px;
  margin-bottom: 4px;
}
.bicicleta-informacoes p {
  color: #B2B2B2;
  font-size: 1rem;
}

.bicicleta-informacoes h3 {
  margin-bottom: 8px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
}

.bicicleta-ficha li {
  padding: 4px 0;
  border-bottom: 1px solid #111111;
  display: flex;
  justify-content: space-between;
  color: #CCCCCC;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

.bicicleta-ficha li:last-child {
  border-bottom: none;
}

.bicicleta-ficha span {
  color: #9C9C9C;
}

@media (max-width: 800px) {
  .bicicleta {
    grid-template-columns: 1fr;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .bicicleta-imagens {
    grid-row: 3;
  }
}

@media (max-width: 400px) {
  .bicicleta-informacoes {
    grid-template-columns: 1fr;
  }
  .bicicleta-comprar {
    grid-template-columns: 1fr;
  }
}
