.diferencial-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}
.tec{
    color: #B2B2B2;
}
.conteudo h4{
    color: #FFFFFF;
}
.conteudo span{
    color: #FFBB00;
}
.conteudo p{
    color: #B2B2B2;
}
.conteudo a{
    color: #FFBB00;
}
.rast-elet{
    color: #FFFFFF;
}
.imagem{
    margin: 0;
    padding: 0;
}
.imagem img{
    max-height: 100vh;
    transform: translate(0%, -8%);
}

@media (max-width: 1120px) {
    .diferencial-div{
        margin-top: 165%;
    }
    .imagem img{
        max-height: 80vh;
        transform: translate(0%, -7%);
    }
}