.herosection {
    display: flex;
    background-color: black;
    height: 70vh;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    gap: 100px;
}
.elementos h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 4rem;
    color: white;
}
.elementos h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #B2B2B2;
    font-size: 1.5rem;
    padding-bottom: 8px;
}
.elementos span{
    color: #FFBB00;
}
.elementos button{
    background: linear-gradient(31deg, rgba(255,191,0,1) 0%, rgba(242,165,12,1) 100%);
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #332200;
    font-size: 1rem;
    border-radius: 8px;
    padding: 15px 25px 15px 25px;
}
.elementos::after {
    content: "";
    display: block;
    left: 60px;
    width: 52px;
    height: 52px;
    background: url("../../assets/dec/bottom-left.svg") no-repeat center;
    position: absolute;
  }
.imagem{
    padding-top: 90px;
    max-height: 75vh;
    width: auto;
    display: block;
    object-fit: contain;
    border-radius: 8px;
}

@media (max-width: 1125px){
    .imagem{
        max-height: 70vh;
        padding: 0;
    }
    .herosection{
        gap: 60px;
    }
    .elementos h1{
        font-size: 3rem;
    }
    .elementos h2{
        font-size: 1.3rem;
    }
    .elementos button{
        padding: 10px 20px 10px 20px;
    }
}

@media (max-width: 900px) {
    .imagem {
        display: none;
    }
    .elementos h2{
        margin: 0px;
        padding: 0;
    }
}

@media (max-width: 1215px){
    .elementos::after{
        display: none;
    }
}
@media (max-height: 815px) {
    .elementos::after{
        bottom: 150px;
    }
}
@media (max-height: 690px) {
    .elementos h1{
        font-size: 3rem;
    }
    .elementos h2{
        font-size: 1.3rem;
    }
    .elementos button{
        padding: 10px 20px 10px 20px;
    }
}
@media (max-height: 530px) {
    .elementos h1{
        font-size: 2.5rem;
    }
    .elementos h2{
        font-size: 1.1rem;
    }
    .elementos button{
        padding: 5px 15px 5px 15px;
    }
}